/*****general site items***/
body{
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  margin: 0 auto;
}

p{
  color:black;
  font-size: 1.2rem;
}
h1{
  color: forestgreen;
  font-size: 2.5rem;
}

.header{
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.statusBox{
  text-align: center;
}


/***** board setup *********/
.board{
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: 0px auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: none;
  padding: .6rem 1.2rem;
}

div[id^="row-"]{
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-top: 2px;
  text-align: center;
}

div[id^="cell-"]{
  border-style: solid;
  min-height: 120px;
  min-width: 120px;
  max-width: 33%;
  margin: 2px;
  padding: 2px;
  font-weight: bold;
  text-align: center;
}
div[id^="cell-"]:selected{
  background:blue;
}

hr.vert {
  border-top:
  width: 1px;
  height: 320px;
  background-color: red;
}
hr.horiz {
  height: 1px;
  width: 320px;
  background-color: red;
}
hr.diag {
  height: 1px;
  width: 320px;

}

/******modal stuff ***/
#modalContainer {
  position: fixed;
  left:0;
  top:0;
  max-width:320px;
  height:100%;
  overflow: auto;
  border-radius: 3%;
  border: 7px solid gray;
  margin: 0px auto;
  opacity: 0;
  background-color: #fff;
  z-index: 55;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 95%;
  margin: auto;
  padding: 5px 5px;
}
.w3-modal{
  z-index:3;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)}
.w3-modal-content{
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:600px}


.buttonModal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3px;
}
#playerOne {
  display:flex;
  flex-direction: row;
  padding: 3px 3px;
}
#playerTwo {
  display:flex;
  flex-direction: row;
  padding: 3px 3px;
}
.modal-input {
  padding: 5px;
  border: 1px solid #ccc;
  width: 100%;
}
.display{
  z-index: 333;
  opacity: 1;
}


/***********board items setup *********/

.turtle {
  background-image: url('/img/turtle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3px 3px;
}
.tortoise {
  background-image: url('/img/tortoise.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3px 3px;
}




.clock {
  margin-bottom: 5px;
  text-align: center;
}
button{
  background-color: blue;
  color: white;
  font-style: unset;
  padding: 5px 10px;
  border:none;
  border-radius: 6px;
  margin-left: 20px;
}
button:hover{
  background-color: rgb(9, 112, 146);
}
button .btn{
  background-color: lightsalmon;
  padding: 3px;
  border-radius: 15px;
}